POSTGRES_VERSION=18
POSTGRES_DB=language_application
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
TZ=Europe/Warsaw
DB_HOST=127.0.0.1
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
