<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card text-center">
        <div class="card-body p-5">
          <h1 class="display-5 mb-3">403</h1>
          <p class="mb-4">{{ 'errors.forbidden' | t }}</p>
          <a class="btn btn-primary me-2" routerLink="/home">{{ 'common.goHome' | t }}</a>
          <a class="btn btn-outline-secondary" routerLink="/dashboard">{{ 'common.goDashboard' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
